<% if f.object.errors.any? -%>
  <div id="error_explanation">
    <h2><%= pluralize(f.object.errors.count, "error") %> prohibited this partial from being saved:</h2>

    <ul>
      <% f.object.errors.full_messages.each do |message| -%>
        <li><%= message %></li>
      <% end -%>
    </ul>
  </div>
<% end -%>

<div class="form-group">
  <%= f.label f.object.class.name_field %>
  <%= f.text_field f.object.class.name_field, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :content %>
  <%= f.text_area(:content, :style => "font-family: monospace; min-height: 40vh;", class: 'form-control') %>
</div>

<%= f.submit class: 'btn btn-primary' %>

<p><b>Rendered html preview</b></p>
<div id="html-preview" style="border:1px solid; min-height: 10em;">
</div>
<br/><br/>

<%= javascript_include_tag "cadmus.previewablehtml.js" %>
<script type="text/javascript">
$(document).ready(function(){
  $('.cadmus-previewable-html').cadmusPreviewableHtml();
});
</script>