<h1>
	<% if @parent_model && @parent_model.respond_to?(:name) -%>
		Partials in <%= @parent_model.name %>
	<% else -%>
		Partials
	<% end -%>
</h1>

<ul class="list-group mb-4">
  <% @cms_partials.each do |cms_partial| %>
    <li class="list-group-item">
      <div class="row w-100">
        <div class="col">
          <%= cms_partial.public_send(cms_partial.class.name_field) %>
        </div>
        <div class="col text-right">
          <%= link_to "Edit", url_for(action: 'edit', id: cms_partial), class: 'btn btn-secondary btn-sm' %>
          <%= link_to "Delete", url_for(action: 'destroy', id: cms_partial), method: 'DELETE', "data-confirm" => "Are you sure you want to delete this partial?", class: 'btn btn-danger btn-sm' %>
        </div>
      </div>
    </li>
  <% end -%>
</ul>

<%= link_to "New partial", url_for(action: 'new'), class: 'btn btn-primary' %>